body {
    background-color: rgb(255,99,71);
    color: #222222;
}

.navigatie {
    color: #231f20;
    
}

.navigatie.pagina {
    background-color: rgba(0,0,0,0.4);
}

.navigatie:hover {
    background-color: #222222;
    color: white;
}

.navigatie.rest {
    color: #dadcde;
}

.blockquote {
    background-color: white;
    color: rgb(255,99,71);
    align-items: center;
}

.restTekst {
    background-color: #222222;
    color: #ffd602;
}